<div ng-controller="NavbarCtrl"></div>
<div class="color-line">
</div>
<div id="logo" class="light-version">
  <a href="http://www.searchblox.com/"><img
      ng-src="{{logourl}}"
      alt="SearchBlox" width="230" height="66"></a>
</div>
<nav role="navigation">
<div class="small-logo">
    <span class="text-primary">Angular-visualization-module - Home</span>
  </div>
  <div class="navbar-right">
    <ul class="nav navbar-nav no-borders">
      <li ng-click="logout()" class="dropdown">
        <a href="#">
          <i class="pe-7s-upload pe-rotate-90"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
</div>




