<div class="color-line"></div>

<div class="login-container">

  <div class=row>
    <div class="col-md-12 text-center">
      <p ng-show=verifying class="alert alert-warning text-center">We are verifying this link</p>

      <p class="alert alert-success" ng-show=reset>Your new password has been set. Please
        <a ui-sref=login>Login Now</a>.</p>

      <div ng-show=showVerificationError class="alert alert-danger">
        This password reset link is not valid. You may request another link by
        <a ui-sref=passwordResetRequest>clicking here</a>.
      </div>
    </div>
  </div>

  <div class="row" ng-show="verified && !reset">
    <div class="col-md-12">
      <div class="text-center m-b-md">
        <h3>Reset Your Password</h3>
      </div>
      <div class="hpanel">
        <div class="panel-body">
          <form ng-submit=submit()>
            <div class="form-group">
              <label class="control-label" for="password">New Password</label>
              <input type=password class="form-control" required="required" value="" placeholder="******"
                     id="password" ng-model=formModel.password
                     ng-disabled=posting>
            </div>

            <div class="form-group">
              <label class="control-label" for="confirmPassword">Confirm New Password</label>
              <input type=password id=confirmPassword class="form-control" ng-model=formModel.confirmPassword
                     ng-disabled=posting placeholder="******" required="" value="">
            </div>

            <button class="btn btn-success btn-block" type=submit ng-disabled=posting>Set New Password</button>
            <p class=text-danger ng-show=error ng-bind=error></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>